<H2>Notes</H2>

In [1]:
# Wisc canvas API: https://wisc.instructure.com/doc/api/live#!/groups.json
# https://canvas.instructure.com/doc/api/groups.html
# python API wrapper for Canvas: https://github.com/ucfopen/canvasapi

# import requests

# user id

# token

# ask for course id and all groups and names in groups in course
#     Target:https://canvas.wisc.edu/courses/193493/groups
#     GET /api/v1/courses/:course_id/groups
# GET 
# print list of names in groups

<H3>Import Python Libraries and CSV (Excel sheet) exported from Qualtrics Survey</H3>
<p>Save the Qualtrics csv from the Judge Survey into the folder, name it to match below</p>

In [2]:
import pandas as pd
import numpy as np
# import CSV
df1 = pd.read_csv('sample.csv')

<H3>Column data rendered in a dataframe</H3> 
<p>All individual scores and dimensions</p>

In [3]:
# new dataframe containing columns by name using .loc
columnsData = df1.loc[:,['Student','Cooperation','Punctuality','Reliability','Evaluative','Creativity','Overall Effort']]
print(columnsData)

                 Student  Cooperation  Punctuality  Reliability  Evaluative  \
0    Victoria Schetelich           10           10           10          10
1    Victoria Schetelich           10           10           10          10
2    Victoria Schetelich           10           10           10          10
3    Victoria Schetelich           10           10           10          10
4    Victoria Schetelich           10           10           10          10
5    Victoria Schetelich           10           10           10          10
6    Victoria Schetelich           10           10           10          10
7           TYLER VAUGHN           10           10           10          10
8           TYLER VAUGHN           10           10           10          10
9           TYLER VAUGHN           10           10           10          10
10          TYLER VAUGHN           10           10           10          10
11          Taylor Sekel           10           10           10          10
12           Sonia Petty           10           10           10          10
13           Sonia Petty           10           10           10          10
14           Sonia Petty            9            9            8           9
15           Sonia Petty           10           10           10          10
16    Rachel Heidenreich           10           10           10          10
17    Rachel Heidenreich           10           10           10          10
18    Rachel Heidenreich            7            9            8           8
19            Neha Patil           10           10           10          10
20            Neha Patil            9           10           10          10
21            Neha Patil           10           10            9          10
22            Neha Patil           10           10           10          10
23   MICHAEL RENNERFELDT           10           10           10          10
24   MICHAEL RENNERFELDT           10           10           10          10
25         MICHAEL LYNCH           10           10            9          10
26         MICHAEL LYNCH           10           10           10          10
27       Michael LeNeveu           10            9           10          10
28       Michael LeNeveu           10           10           10          10
29           Megan Stock           10           10           10          10
..                   ...          ...          ...          ...         ...
102       CHAD REINHARDT           10           10           10          10
103       CHAD REINHARDT           10           10           10          10
104      Catie Hohnstein           10           10           10          10
105      Catie Hohnstein           10           10           10          10
106      Catie Hohnstein           10           10           10          10
107      Catie Hohnstein           10           10           10          10
108      Catie Hohnstein           10           10           10          10
109      Catie Hohnstein           10           10           10          10
110        Carly O'Meara           10           10           10          10
111        Carly O'Meara           10           10           10          10
112        Carly O'Meara           10           10           10          10
113          Cara Bardon           10           10           10          10
114    Brooke Birschbach           10           10           10          10
115    Brooke Birschbach           10           10           10          10
116    Brooke Birschbach           10           10           10          10
117    Brooke Birschbach           10           10           10          10
118    Brooke Birschbach           10           10           10          10
119    Brooke Birschbach           10           10           10          10
120    Brooke Birschbach           10           10           10          10
121     Bailey Hackbarth           10           10           10          10
122     Bailey Hackbarth           10           10           10          10
123     Bailey Hackbarth           10           10           10          10
124        ASHLEY DUNDON           10           10           10          10
125         ALEX NEUFELD           10           10           10          10
126         ALEX NEUFELD           10           10           10          10
127         ALEX NEUFELD           10           10           10          10
128         ALEX NEUFELD           10           10           10          10
129         ALEX NEUFELD           10           10           10          10
130         ALEX NEUFELD           10           10           10          10
131         ALEX NEUFELD           10           10           10          10

     Creativity  Overall Effort
0            10              10
1            10              10
2            10              10
3            10              10
4            10              10
5            10              10
6            10              10
7            10              10
8            10              10
9            10              10
10           10              10
11           10              10
12           10              10
13           10              10
14            9               9
15           10              10
16           10              10
17           10              10
18            5               7
19           10              10
20           10               9
21           10              10
22           10              10
23           10              10
24           10              10
25           10              10
26           10              10
27           10              10
28           10              10
29           10              10
..          ...             ...
102          10              10
103          10              10
104          10              10
105          10              10
106          10              10
107          10              10
108          10              10
109          10              10
110          10              10
111          10              10
112          10              10
113          10              10
114          10              10
115          10              10
116          10              10
117          10              10
118          10              10
119          10              10
120          10              10
121          10              10
122          10              10
123          10              10
124           9              10
125          10              10
126          10              10
127          10              10
128          10              10
129          10              10
130          10              10
131          10              10

[132 rows x 7 columns]

<H3>Column with average scores from each grader</H3> 
<p>All individual scores and dimensions by individual grader</p>

In [4]:
# Added a column containing average of rows
# https://stackoverflow.com/questions/31698861/add-column-to-the-end-of-pandas-dataframe-containing-average-of-previous-data
summary_ave_data = columnsData.copy()
summary_ave_data['average'] = summary_ave_data.mean(numeric_only=True, axis=1)
summary_ave_data

,Student,Cooperation,Punctuality,Reliability,Evaluative,Creativity,Overall Effort,average
0,Victoria Schetelich,10,10,10,10,10,10,10.000000
1,Victoria Schetelich,10,10,10,10,10,10,10.000000
2,Victoria Schetelich,10,10,10,10,10,10,10.000000
3,Victoria Schetelich,10,10,10,10,10,10,10.000000
4,Victoria Schetelich,10,10,10,10,10,10,10.000000
5,Victoria Schetelich,10,10,10,10,10,10,10.000000
6,Victoria Schetelich,10,10,10,10,10,10,10.000000
7,TYLER VAUGHN,10,10,10,10,10,10,10.000000
8,TYLER VAUGHN,10,10,10,10,10,10,10.000000
9,TYLER VAUGHN,10,10,10,10,10,10,10.000000
10,TYLER VAUGHN,10,10,10,10,10,10,10.000000
11,Taylor Sekel,10,10,10,10,10,10,10.000000
12,Sonia Petty,10,10,10,10,10,10,10.000000
13,Sonia Petty,10,10,10,10,10,10,10.000000
14,Sonia Petty,9,9,8,9,9,9,8.833333
15,Sonia Petty,10,10,10,10,10,10,10.000000
16,Rachel Heidenreich,10,10,10,10,10,10,10.000000
17,Rachel Heidenreich,10,10,10,10,10,10,10.000000
18,Rachel Heidenreich,7,9,8,8,5,7,7.333333
19,Neha Patil,10,10,10,10,10,10,10.000000
20,Neha Patil,9,10,10,10,10,9,9.666667
21,Neha Patil,10,10,9,10,10,10,9.833333
22,Neha Patil,10,10,10,10,10,10,10.000000
23,MICHAEL RENNERFELDT,10,10,10,10,10,10,10.000000
24,MICHAEL RENNERFELDT,10,10,10,10,10,10,10.000000
25,MICHAEL LYNCH,10,10,9,10,10,10,9.833333
26,MICHAEL LYNCH,10,10,10,10,10,10,10.000000
27,Michael LeNeveu,10,9,10,10,10,10,9.833333
28,Michael LeNeveu,10,10,10,10,10,10,10.000000
29,Megan Stock,10,10,10,10,10,10,10.000000
...,...,...,...,...,...,...,...,...
102,CHAD REINHARDT,10,10,10,10,10,10,10.000000
103,CHAD REINHARDT,10,10,10,10,10,10,10.000000
104,Catie Hohnstein,10,10,10,10,10,10,10.000000
105,Catie Hohnstein,10,10,10,10,10,10,10.000000
106,Catie Hohnstein,10,10,10,10,10,10,10.000000
107,Catie Hohnstein,10,10,10,10,10,10,10.000000
108,Catie Hohnstein,10,10,10,10,10,10,10.000000
109,Catie Hohnstein,10,10,10,10,10,10,10.000000
110,Carly O'Meara,10,10,10,10,10,10,10.000000
111,Carly O'Meara,10,10,10,10,10,10,10.000000
112,Carly O'Meara,10,10,10,10,10,10,10.000000
113,Cara Bardon,10,10,10,10,10,10,10.000000
114,Brooke Birschbach,10,10,10,10,10,10,10.000000
115,Brooke Birschbach,10,10,10,10,10,10,10.000000
116,Brooke Birschbach,10,10,10,10,10,10,10.000000
117,Brooke Birschbach,10,10,10,10,10,10,10.000000
118,Brooke Birschbach,10,10,10,10,10,10,10.000000
119,Brooke Birschbach,10,10,10,10,10,10,10.000000
120,Brooke Birschbach,10,10,10,10,10,10,10.000000
121,Bailey Hackbarth,10,10,10,10,10,10,10.000000
122,Bailey Hackbarth,10,10,10,10,10,10,10.000000
123,Bailey Hackbarth,10,10,10,10,10,10,10.000000
124,ASHLEY DUNDON,10,10,10,10,9,10,9.833333
125,ALEX NEUFELD,10,10,10,10,10,10,10.000000
126,ALEX NEUFELD,10,10,10,10,10,10,10.000000
127,ALEX NEUFELD,10,10,10,10,10,10,10.000000
128,ALEX NEUFELD,10,10,10,10,10,10,10.000000
129,ALEX NEUFELD,10,10,10,10,10,10,10.000000
130,ALEX NEUFELD,10,10,10,10,10,10,10.000000
131,ALEX NEUFELD,10,10,10,10,10,10,10.000000

<H3>Column with Average of Averages scores for each Student</H3> 
<p>All individual average scores for all dimensions, and an <b>Average of Agerages</b></p>

In [5]:
# Average of all feedback for all columns, for each student: 
# Each column has an average for feedback received from many reviewers
# 
# summary_ave_data['overall-Ave']=  
summary_ave_data.groupby(['Student']).agg([np.average])

,Cooperation,Punctuality,Reliability,Evaluative,Creativity,Overall Effort,average
,average,average,average,average,average,average,average
Student,,,,,,,
ALEX NEUFELD,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
ASHLEY DUNDON,10.00,10.000000,10.000000,10.000000,9.000000,10.00,9.833333
Bailey Hackbarth,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Brooke Birschbach,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
CHAD REINHARDT,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
CONNOR BUCHHOLZ,10.00,10.000000,10.000000,9.666667,10.000000,10.00,9.944444
Cara Bardon,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Carly O'Meara,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Catie Hohnstein,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
DANIELLE KLUNK,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
DAVID KOSER,9.50,10.000000,9.500000,10.000000,10.000000,10.00,9.833333
EMILY LITVAK,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
HANNE NILSEN,10.00,10.000000,10.000000,9.714286,9.714286,10.00,9.904762
HUNTER HERMES,10.00,10.000000,10.000000,9.666667,10.000000,10.00,9.944444
Hannah Grindle,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Joseph Burgoyne,10.00,10.000000,10.000000,9.833333,9.833333,10.00,9.944444
Joseph Engstrum,10.00,9.428571,9.714286,10.000000,10.000000,10.00,9.857143
KAITLYN WILCHYNSKI,9.80,9.600000,9.600000,9.800000,9.800000,9.80,9.733333
KEATON GOAR,9.50,9.750000,9.500000,9.500000,8.750000,9.25,9.375000
Kaitlin Nelson,10.00,10.000000,10.000000,9.833333,9.833333,10.00,9.944444
Kenny Thong,9.50,10.000000,9.500000,10.000000,10.000000,9.50,9.750000
LYNSEY SCZECHOWICZ,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
MICHAEL LYNCH,10.00,10.000000,9.500000,10.000000,10.000000,10.00,9.916667
MICHAEL RENNERFELDT,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Megan Stock,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Michael LeNeveu,10.00,9.500000,10.000000,10.000000,10.000000,10.00,9.916667
Neha Patil,9.75,10.000000,9.750000,10.000000,10.000000,9.75,9.875000
Rachel Heidenreich,9.00,9.666667,9.333333,9.333333,8.333333,9.00,9.111111
Sonia Petty,9.75,9.750000,9.500000,9.750000,9.750000,9.75,9.708333
TYLER VAUGHN,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Taylor Sekel,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000
Victoria Schetelich,10.00,10.000000,10.000000,10.000000,10.000000,10.00,10.000000

<H3>Name of Each Student, and their Average Overall Score average</H3>

In [6]:
# Average score and student name only
summary_ave_data[['Student','average']].groupby(['Student']).agg([np.average])

                       average
                       average
Student
ALEX NEUFELD         10.000000
ASHLEY DUNDON         9.833333
Bailey Hackbarth     10.000000
Brooke Birschbach    10.000000
CHAD REINHARDT       10.000000
CONNOR BUCHHOLZ       9.944444
Cara Bardon          10.000000
Carly O'Meara        10.000000
Catie Hohnstein      10.000000
DANIELLE KLUNK       10.000000
DAVID KOSER           9.833333
EMILY LITVAK         10.000000
HANNE NILSEN          9.904762
HUNTER HERMES         9.944444
Hannah Grindle       10.000000
Joseph Burgoyne       9.944444
Joseph Engstrum       9.857143
KAITLYN WILCHYNSKI    9.733333
KEATON GOAR           9.375000
Kaitlin Nelson        9.944444
Kenny Thong           9.750000
LYNSEY SCZECHOWICZ   10.000000
MICHAEL LYNCH         9.916667
MICHAEL RENNERFELDT  10.000000
Megan Stock          10.000000
Michael LeNeveu       9.916667
Neha Patil            9.875000
Rachel Heidenreich    9.111111
Sonia Petty           9.708333
TYLER VAUGHN         10.000000
Taylor Sekel         10.000000
Victoria Schetelich  10.000000

In [7]:
summary_ave_data.to_csv('Judge-Final.csv')